/* Import a Prism.js theme */
@import "prismjs/themes/prism-tomorrow.css";

/* Optional: Import the line numbers plugin styles */
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";

/* Add custom styles for code blocks */
/* Scope styles to only apply inside .custom-code-container */
.custom-code-container pre {
  background-color: #2d2d2d;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-family: "Fira Code", monospace;
}

.custom-code-container code {
  font-size: 0.875rem;
  color: #f8f8f2;
}

.custom-code-container pre.line-numbers {
  padding-left: 3.5rem;
}

.custom-code-container pre[class*="language-"] {
  margin-bottom: 1.5rem;
  border: 1px solid #444;
}

.custom-code-container img {
  max-width: 75%;
  margin: auto;
}
